<html>
<head>
  <title>
    <h1>Channel list</h1>
    <script type="text/javascript" src="../../JavaScript/JQuery/jquery-3.3.1.js" </script>
    <link href = "./assets/styles.css" rel ="stylesheet" type = "text/css">
  </title>
</head>
<body>
<div id="channelTable">
<form action = "/Channels" method="POST" name="form1">

Channel Number: <br>
<input name="Number"  id="Number" placeholder="number" require>
<br/>
Channel Name: <br>
<input name="Name"  id="Name" placeholder="Channel name" require>
<br/>
Channel Price:<br>
<input name="Price" id="Price" placeholder="price" require>
<br/>
<br>
<input type="submit" value="add channel">
<br>
<br>
<table>
<tr>
<th>
Number
</th>
<th>
Name
</th>
<th>
Price
</th>
</tr>

<% for(let i = 0; i < channelList.length; i++) { %>
        <tr>
            <td><%= channelList[i].Number %></td>
            <td><%= channelList[i].Name %></td>
            <td><%= channelList[i].Price %></td>
        </tr>

    <% } %>

</table>
<div>
<h1>Package</h1>

</div>
</form>
</div>
</body>
</html>
